.care {
    background: var(--first-color-dark);
    color: var(--whiteColor);
}

.care_container {
    row-gap: 3rem;
    padding-block: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.care_list {
    display: grid;
    row-gap: 1.25rem;
    width: 100%;
    max-width: 600px;
}

.care_item {
    display: flex;
    column-gap: .75rem;
    align-items: center;
}

.care_item i {
    font-size: 1.5rem;
    color: var(--primaryColor);
}

.care_img {
    width: 100%;
    max-width: 300px;
    height: auto;
    filter: var(--shadow-img);
    justify-self: center;
    margin-top: 0rem;
}

@media (max-width: 600px) {
    .care_container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .care_img {
        max-width: 200px;
        width: 100%;
    }
}

@media (min-width: 1150px) {
    .care_container {
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
        align-items: center;
    }
    .care_img {
        order: -1; /* This moves the image to the left side */
        max-width: 400px; /* You can adjust this value as needed */
        margin-top: -6rem;
    }
}