.banner{
    padding-top: 5rem;
    
}
.banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--backColor); /* Light background color for the banner */
  }
  
  .banner_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center align items */
}
  
  .banner_item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 16px; /* Adjust font size as needed */
    
  }
  
  .banner_item i {
    display: block;
    margin-bottom: 0rem;
    font-size: 24px; /* Adjust icon size as needed */
    margin-right: 10px; /* Space between icon and text */
    color: var(--secondaryColor);
  }
  
  .banner_item span {
    display: block;
    font-weight: bold; /* Optional: make the text bold */
  }
  @media (max-width: 600px) {
    .banner{
        margin: 0px -10px;
        overflow: hidden;
    }
}