.banner {
    padding-top: 3rem;
}

.banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--backColor);
}

.banner_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner_item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 16px;
}

.banner_item i {
    display: block;
    margin-bottom: 0rem;
    font-size: 24px;
    margin-right: 10px;
    color: var(--secondaryColor);
}

.banner_item span {
    display: block;
    font-weight: bold;
}

@media (max-width: 600px) {
    .banner {
        margin: 0px -10px;
        overflow: hidden;
    }
}

@media (min-width: 1150px) {
    .banner_item {
        font-size: 20px; /* Bigger font size for text */
    }

    .banner_item i {
        font-size: 32px; /* Bigger icon size */
        margin-right: 15px; /* Increased space between icon and text */
    }

    .banner_container {
        padding: 1.5rem 2rem; /* More padding for larger screens */
    }

    .banner_item {
        padding: 1.5rem; /* More padding for each item */
    }
}