
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;1,600&family=Titan+One&display=swap');


:root{
  --header-height: 3.5rem;
  --body-font: "Poppins" ,sans-serif;
  --second-font: "Titan One",sans-serif;
  --biggest-font-size: 3.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.2rem;
  --h3-font-size :1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --font-regular: 400;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --primaryColor: rgb(66, 174, 174);
  --secondaryColor: rgb(25, 118, 123);
  --secondShadow:  rgb(190, 185, 185);
  --backColor: rgb(83, 195, 236);
  --first-color-dark: rgb(55, 110, 110);
  --second-color-dark: rgb(5, 82, 110);
  --whiteColor: rgb(255, 255, 255);
  --textColor: rgb(0, 0, 0);
  --shadow-text: 0 2px 4px var(--secondShadow);
  --shadow-img: drop-shadow(0 12px 24px rgba(31, 28, 28, 0.8));
  --shadow-circle: 0 12px 24px rgba(0, 0, 0, 0.4);
  --shadow-button: 0 -4px 8px rgba(0, 0, 0, 0.4);
  --shadow-card: 0 -8rem 24px rgba(0, 0, 0, 0.3);
  --shadow-text: 0 2px 4px var(--first-color-dark);
}
section {
  height: 100vh; /* Each section takes up the full viewport height */
  padding: 50px 130px;
}

@media screen and (min-width: 1150px){
  :root{
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size : 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--secondaryColor);

}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.section{
  padding-block: 5rem 0rem;
}

.section_title {
  font-family: var(--second-font); /* Specifies the font family */
  font-size: var(--h1-font-size); /* Specifies the font size */
  font-weight: var(--font-regular); /* Specifies the font weight */
  text-align: center;
  text-shadow: 1px 1px 2px grey;
  color: var(--whiteColor);
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.main{
  overflow: hidden;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
  background-color: var(--secondaryColor); /* Ensure the header has a background color */
  height: var(--header-height);
}
.header .shadow {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
}
.nav_toggle {
  display: none;
}

.nav_close {
  display: none;
 
}
.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; /* Optional: Add padding for spacing */
  height: var(--header-height); /* Adjust as needed */

}


.nav_logo {
  display: flex;
  justify-content: flex-start; /* Aligns the logo to the left */
  color: var(--whiteColor);
  font-family: var(--second-font);
  text-shadow: var(--shadow-text);
  text-align: center;

  margin-left: 70px; /* Adjust the value to move the logo slightly to the left */
}

.nav_menu {
  flex: 2; /* Takes up more space in the center */
  display: flex;
  justify-content: center; /* Center the menu items */
  align-items: center;
  transition: left .4s;
}

.nav_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_list li {
  margin: 0 35px; /* Add spacing between menu items */
}

.nav_link {
  text-decoration: none;
  color: var(--whiteColor); /* Adjust text color */
}
.social-links-container {
  display: none;
}
.nav_link:hover {
  color: rgb(197, 156, 236); /* Change to your desired hover color */
}

/* Style for the active link */
.nav_link.active {
  color: rgb(120, 92, 147); /* Change to your desired active color */
  font-weight: var(--font-semi-bold); /* Optional: Make the active link bold */
}
.footer {
  padding-block: 3rem 2rem;
  background-color: var(--first-color-dark);
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
 
}

.footer_logo {
  color: var(--whiteColor);
  font: var(--h1-font-size) var(--second-font);
  text-shadow: var(--shadow-text);
  text-align: center;
}

.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer_copy {
  text-align: center;
  width: 100%;
}

.footer_link {
  color: var(--whiteColor);
  text-decoration: none;
}

.footer_link:hover {
  color: var(--textColor);
}

::-webkit-scrollbar {
  width: .6rem;
  background-color: hsl(169, 28%, 35%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(169, 28%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(169, 28%, 15%);
}

@media screen and (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer_content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .footer_links {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer_container {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 980px) {
  .nav_container {
    flex-direction: column; /* Stack items vertically */
    padding: 0; /* Adjust padding */
  }
  .nav_logo {
   margin-left: 0px;
   
  }
 
  .nav_menu {
    position: fixed;
    left: -100%; /* Hide the menu off-screen initially */
    top: 0;
    padding: 7rem 1.5rem 2.5rem 0rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items to the start of the column */
    align-items: center; /* Center the menu items horizontally */
    background-color: var(--primaryColor); /* Adjust background color */
    transition: left 0.4s; /* Smooth transition */
  }

  .nav_list {
    flex-direction: column; /* Stack menu items vertically */
    margin-left: -8rem;
  }

  .nav_list li {
    margin: 1.5rem 0; /* Add vertical spacing between items */
  }

  .nav_link {
    color: var(--whiteColor); /* Change text color */
    font-size: var(--h2-font-size); /* Increase font size */
    font-weight: var(--font-semi-bold); /* Make text bolder */
    transition: color .4s;
  }

  .nav_toggle {
    display: block; /* Show the toggle button */
    font-size: 2rem;
  }

 

  .nav_close {
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    display: block; /* Show the close button */
    font-size: 2rem; /* Adjust icon size */
  }

  .nav_menu.show-menu {
    left: 0; /* Move the menu into view when active */
  }
  .social-links-container {
    position: absolute;
    bottom: 4rem; /* Place at the bottom of the page */
    left: 50%;
    transform: translateX(100%); /* Center the icons horizontally */
    display: flex;
    justify-content: center;
    gap: 1rem; /* Spacing between social icons */
  }
  
  .social-link i {
    font-size: 1.5rem;
    color: var(--whiteColor);
  }
  .social-link:hover i {
    color: rgb(197, 156, 236);
  }
  section{
      padding: 60px 3px;

  }
}

