@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.products_section {
    padding: -4rem 0;
}



.products_container {
    position: relative;
    color: var(--whiteColor);
    margin-top: 2.5rem;
}

.products_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.5rem;
}

.products_card {
    position: relative;
    background-color: var(--first-color-dark);
    padding: 5rem 1rem 1.25rem;
    border-radius: 1rem;
    box-shadow: 0 0px 1px rgba(167, 167, 167, 0.2),
                inset 0 -4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    height: 195px;
    cursor: pointer;
}



.product_img {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 95px;
    transform: translate(-50%, -50%); /* Center the image */
    filter: var(--shadow-img);
    transition: transform 0.3s ease;
}
.products_card:hover .product_img {
    transform: translate(-50%, -50%) scale(1.1); /* Center and scale on hover */
}

.products_subtitle,
.product_title,
.product_price {
    margin: 0rem 0;
    width: 100%;
}

.products_subtitle {
    font-size: 0.9rem;
    color: var(--whiteColor);
}

.product_title {
    font: var(--font-regular) var(--h2-font-size) var(--second-font);
   
    color: var(--whiteColor);
}

.product_price {
    font-family: var(--second-font);
    color: var(--whiteColor);
    font-size: 1rem;
}

.product_button {
    position: absolute;
    cursor: pointer;
    bottom: 1.5rem;
    right: .8rem;
    outline: none;
    border: none;
    background-color: var(--backColor);
    padding: 5px 8px;
    font-size: 1.1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product_button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.product_button i {
    transition: transform 0.3s ease;
}
.products_crab,
.products_1,
.products_2{
  position: absolute;
  width: 40px;
  opacity: .5;
}
.products_crab{
    top: -2.5rem;
    left: 0;
    rotate: 30deg;
}
.products_1{
    top: 17rem;
    right: -1.5rem;
    rotate: -15deg;
}
.products_2{
   left: 2rem;
   right: 0;
    margin: 0 auto;
    bottom: 3rem;
    rotate: 15deg;
}

@media (min-width: 768px) {
    .products_content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .products_content {
        grid-template-columns: repeat(4, 1fr);
    }
}